{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    
    
    <div class="container">
        <div class = "row">
                <h1>Delicious Bites</h1>
                <img src="{% static 'images/StrawberryCake.jpeg' %}" alt="Title image">
            </div>
        </div>
        
        <div class = "row">
            <p>At Delicious Bites, we are on a mission to elevate our customers' day with
            baked goods such as bread, cakes, and cookies. Made from only the freshest,
            locally sourced ingredients, we are committed to ensuring that every bite is
            a celebration.</p>
        </div>
    
    <ul>
        <a href="/about/">About Us</a>
    </ul>
    
    <div class = "row">
        <h2>Items</h2>
        <div class="itemPreview">
            <img src="{% static 'images/Cheesecake.jpeg' %}" alt="Item 1">
            <div class="itemPreview-text">Item 1</div>
        </div>
       <div class="itemPreview">
            <img src="{% static 'images/Cheesecake.jpeg' %}" alt="Item 2">
            <div class="itemPreview-text">Item 2</div>
        </div>        
           <div class="itemPreview">
            <img src="{% static 'images/Cheesecake.jpeg' %}" alt="Item 3">
            <div class="itemPreview-text">Item 3</div>
        </div>
    
    </div>

{% endblock %}
