 {% extends 'shop/base.html' %}
{% load static %}

{% block extrahead %}
{% endblock %}

{% block title %}
    <h1>~Welcome to our Menu selection~ 🤤</h1>
{% endblock %}

{% block content %}
    
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>All Products</h1>
        <div class="item-container">
            {% for product in products %}
                <div class="img">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="menu-product-image" alt="{{ product.name }}">
                    </a>
                    <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                    <p class="price">${{ product.price }}</p>
                </div>

            {% endfor %}
        </div>
    </div>
    <h2>Thank you for visiting our menu 🤗!</h2>

{% block footer %}
    <footer class="footer">
        <div class="footer__addr">
            <h1 class="footer__logo">Delicious bites</h1>
            <address>
                123 Delta Street, Bells Town <br>
                <p>Phone: 123-456-7890</p>
                <a class="footer__btn" href="mailto:deliciousbites@gmail.com">Email Us</a>
            </address>
        </div>

        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Social Media #️⃣</h2>
                <ul class="nav__ul">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </li>
            <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Quick Links 🔗</h2>
                <ul class="nav__ul nav__ul--extra">
                    <li><a href="{% url 'shop:home' %}">Home</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="#">👋 Contact us</a></li>
                </ul>
            </li>
            <li class="nav__item">
                <h2 class="nav__title">Legal ⚖️</h2>
                <ul class="nav__ul">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2024 Delicious bites. All rights reserved.</p>
        </div>
    </footer>
{% endblock %}
{% endblock %}
